// Utility Classes will be prefixed with the 'u-' syntax

// Layout Utilities
.u-inline { display: inline;}
.u-block { display: block; }
.u-inline-block { display: inline-block; }
.u-left { float: left; }
.u-right { float: right; }

// Clearfix 
.u-cf { *zoom: 1; }
.u-cf:before,
.u-cf:after { content: " "; display: table; }
.u-cf:after { clear: both; }
 