// Colors

/* Default Colors to RGBA rather than hex or HSLA */ 
$primary-color: ;
$secondary-color: ;
$faint-grey: ;
$light-grey: ;
$grey: ;
$dark-grey: ;


// Typography
$font-1:;
$font-2:;
$font-3:;

// Breakpoints
$bp-xl:;
$bp-lg:;
$bp-md:;
$bp-sm:;

// Container
$main-container-width:;
$outer-container-width:;
$inner-container-width:;

